@import "variable";
@import "sprite";
.leave-application {
	background: $main-bg;
	main {
		background: $tavant-white;
	}
	.apply-leave {
		button, input, select {
			width: 100%;
			margin-top: 50px;
		}
		select {
			height: 40px;
    		background: $tavant-white;
		}
		input {
			line-height: 2.5;
			border: 1px solid $input-border;
			padding: 0 10px;
		}
		label {
			position: absolute;
		    padding: 0 2px;
		    background: $tavant-white;
		    top: 40px;
		    left: 30px;
		}
	}
	.leave-bucket {
		margin: 30px 0;
		h3 {
			background: $accordion-heading;
			color: $tavant-white;
			margin-bottom: 0;
			font-size: 20px;
			padding: 10px 0 10px 10px;
		}
		.minus-sign {
			padding: 20px;
			line-height: 0.1;
    		position: relative;
    		top: -10px;
    		background: $active-tab;
		}
		form {
			border: 1px solid $border-color;
		}
		table {
			margin-bottom: 0;
			color: $text-color;
			td {
				padding: 5px 15px;
				vertical-align: middle;
			}
			th {
				padding: 10px 15px;
				background: $accordion-subheading;
			}
			select {
				width: 50%;
				margin: 0;
			}
		}
		select {
			width: 25%;
			background: $tavant-white;
			height: 30px;
			margin: 10px;
		}
		.btn-primary {
			margin-top: 20px;
			padding: 5px 50px;
		}
		.btn-primary.disabled {
			background: $text-color;
		}
	}
	.background-container {
	    background-color: $header-bg;
	    min-height: 90px;
	    .logo-container {
	    	margin-top: 25px;
	    	img {
	    		max-width: 100%;
	    	}
	    }
	    .user-detail {
	    	margin-top: 15px;
	    	a, span {
	    		color: $tavant-white;
	    	}
	    	ul li {
	    		list-style:	none;
	    	}
	    }
	}
	.navbar {
		border: none;
		.active a {
			background-color: $active-tab;
			&:hover {
				background-color: $active-tab;
			}
		}
		.arrow-down {
		    position: absolute;
		    left: 38%;
		    &:after {
			    content: ' ';
			    position: absolute;
			    border: 15px solid transparent;
			    border-top-color: $active-tab;
			}
		}
	}
	.btn-primary {
		background: $primary-btn;
		border: none;
    	border-radius: 0;
    	font-size: 18px;
    	letter-spacing: 2px;
	}
	.tavant-icon {
		color: $tavant-white;
	}
	.tavant-setting {
		margin: 10px 25px;
	}
	.tavant-logout {
		margin: 10px;
	}

	@media screen and (min-width: bp-tablet) and (max-width: bp-desktop) {
	    main {
			background: $tavant-white;
		}
		.apply-leave {
			button, input, select {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
}
