$tavant-black: #000;
$tavant-white: #fff;
$header-bg: #393d46;
$primary-btn: #fe7600;
$active-tab: #ff701a;
$accordion-heading: #666666;
$accordion-subheading: #dbd9da;
$text-color: #898989;
$input-border: #a6a6a6;
$border-color: #dfdfdf;
$main-bg: #efefef;

//breakpoints
@bp-desktop: 1023px;
@bp-tablet: 767px;
@bp-mobile: 320px;
